# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/flutter_assets/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# macOS
.DS_Store

# Env & secrets
.env
.env.local
.env.*.local

# Supabase CLI
.supabase/
